<!--gitalk 评论-->
<% if (!index) { %>
    <div id="gitalk-container"></div>

    <style>
        .gitalk-container{
            margin: 60px 0 0;padding: 0 60px;
        }
        .gitalk-container a {
          border: none;
        }
		@media screen and (max-width:1040px) {
            .gitalk-container{
                padding: 0 30px;
            }
		}
    </style>

    <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
    <script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>

    <script>
    var gitalk = new Gitalk({        
        id: '<%= page.title %>',
        title: '<%= page.title %>',
        owner: '<%= theme.gitment.owner %>',        
        admin: ['<%= theme.gitment.owner %>'],
        repo: '<%= theme.gitment.repo %>',
        clientID: '<%= theme.gitment.ClientID %>',
        clientSecret: '<%= theme.gitment.ClientSecret %>',
        distractionFreeMode: false  // Facebook-like distraction free mode
      })
      
      gitalk.render('gitalk-container')
    </script>
<% } %>
<!--gitalk 评论 end-->