<div class="overlay"></div>
<div class="intrude-less">
    <header id="header" class="inner">
        <a href="<%= config.root %>" class="profilepic">
            <img src="<%- theme.root_url %><%=theme.avatar%>" class="animated zoomIn">
        </a>
        <hgroup>
          <h1 class="header-author"><a href="<%= config.root %>"><%=theme.author%></a></h1>
        </hgroup>

        <% if (theme.subtitle){ %>
        <p class="header-subtitle"><%=theme.subtitle%></p>
        <%}%>

        <% if (theme.search.on){ %>
            <form id="search-form">
            <input type="text" id="local-search-input" name="q" placeholder="search..." class="search form-control" autocomplete="on" autocorrect="true" searchonload="<%= theme.search.onload %>" />
            <i class="fa fa-times" onclick="resetSearch()"></i>
            </form>
            <div id="local-search-result"></div>
            <p class='no-result'>No results found <i class='fa fa-spinner fa-pulse'></i></p>
            
        <%}%>


        <%if(theme.tagcloud){%>
            <div id="switch-btn" class="switch-btn">
                <div class="icon">
                    <div class="icon-ctn">
                        <div class="icon-wrap icon-house" data-idx="0">
                            <div class="birdhouse"></div>
                            <div class="birdhouse_holes"></div>
                        </div>
                        <div class="icon-wrap icon-ribbon hide" data-idx="1">
                            <div class="ribbon"></div>
                        </div>
                        <%if(theme.friends && theme.friends.length != 0){%>
                        <div class="icon-wrap icon-link hide" data-idx="2">
                            <div class="loopback_l"></div>
                            <div class="loopback_r"></div>
                        </div>
                        <%}%>
                        <%if(theme.aboutme){%>
                        <div class="icon-wrap icon-me hide" data-idx="3">
                            <div class="user"></div>
                            <div class="shoulder"></div>
                        </div>
                        <%}%>
                    </div>
                    
                </div>
                <div class="tips-box hide">
                    <div class="tips-arrow"></div>
                    <ul class="tips-inner">
                        <li><%= __('index.menu') %></li>
                        <li><%= __('index.tags') %></li>
                        <%if(theme.friends && theme.friends.length != 0){%>
                        <li><%= __('index.friends') %></li>
                        <%}%>
                        <%if(theme.aboutme){%>
                        <li><%= __('index.about') %></li>
                        <%}%>
                    </ul>
                </div>
            </div>
        <%}%>

        <div id="switch-area" class="switch-area">
            <div class="switch-wrap">
                <section class="switch-part switch-part1">
                    <nav class="header-menu">
                        <ul>
                        <% for (var i in theme.menu){ %>
                            <li><a href="<%- theme.root_url %><%- url_for(theme.menu[i]) %>"><%= i %></a></li>
                        <%}%>
                        </ul>
                    </nav>
                    <nav class="header-nav">
                        <ul class="social">
                            <% for (var i in theme.subnav){ %>
                                <a class="fa <%= i %>" href="<%- url_for(theme.subnav[i]) %>" title="<%= i %>"></a>
                            <%}%>
                        </ul>
                    </nav>
                </section>
                
                <%if(theme.tagcloud){%>
                <section class="switch-part switch-part2">
                    <div class="widget tagcloud" id="js-tagcloud">
                        <%- list_tags({show_count: false}) %>
                    </div>
                </section>
                <%}%>
                
                <%if(theme.friends && theme.friends.length != 0){%>
                <section class="switch-part switch-part3">
                    <div id="js-friends">
                    <% for (var i in theme.friends){ %>
                      <a class="main-nav-link switch-friends-link" href="<%- url_for(theme.friends[i]) %>"><%= i %></a>
                    <% } %>
                    </div>
                </section>
                <%}%>

                <%if(theme.aboutme){%>
                <%if(!theme.friends){%>
                <section class="switch-part switch-part3">
                <%}else{%>
                <section class="switch-part switch-part4">
                <%}%>
                    <div id="js-aboutme"><%=theme.aboutme%></div>
                </section>
                <%}%>
            </div>
        </div>
    </header>                
</div>

<!--aplayer-->
<% if(theme.aplayer.enable) { %>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.css">
<style>.aplayer.aplayer-fixed .aplayer-body{width: 270px;max-width: 270px !important;}.aplayer .aplayer-body {width: 280px;}</style>
<div id="aplayer" style="position:fixed;left:0;bottom:0;"></div>
<script src="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/color-thief-don@2.0.2/src/color-thief.js"></script>
<script>  
  var ap = new APlayer({
    container: document.getElementById('aplayer'),
    autoplay: false, //自动播放
    listFolded: true, //播放列表默认折叠
    listMaxHeight: 90, //播放列表最大高度
    order: 'list', //音频循环顺序, 可选值: 'list', 'random'
    loop: 'all', //音频循环播放, 可选值: 'all', 'one', 'none'
    theme: '#e9e9e9', //切换音频时的主题色，优先级低于audio.theme
    preload: 'none', //音频预加载，可选值: 'none', 'metadata', 'auto'
    mutex: true, //互斥，阻止多个播放器同时播放，当前播放器播放时暂停其他播放器
    lrcType: 3, //歌词格式，可选值：3（LRC文件歌词格式），1（JS字符串歌词格式）
    volume: 0.7, //默认音量，请注意播放器会记忆用户设置，用户手动设置音量后默认音量即失效
    fixed: false,
    mini:false, 	//吸底模式（fixed:true），迷你模式（mini:true），普通模式（注释此行或者设置fixed:false）
    audio: [{
        name: '武汉！武汉',
        artist: '刘涛|黄晓明|平安|尚雯婕',
        lrc: '<%=theme.root_url%>/music/武汉！武汉.lrc',
        cover: '<%=theme.root_url%>/music/武汉！武汉.png',
        url: '<%=theme.root_url%>/music/武汉！武汉.mp3'
      },{
        name: '我要你平安归来',
        artist: '崔姝声',
        // lrc: '<%=theme.root_url%>/music/我要你平安归来.lrc',
        cover: '<%=theme.root_url%>/music/我要你平安归来.png',
        url: '<%=theme.root_url%>/music/我要你平安归来.mp3'
      },{
        name: '我和我的祖国',
        artist: '中央乐团合唱团',
        lrc: '<%=theme.root_url%>/music/我和我的祖国.lrc',
        cover: '<%=theme.root_url%>/music/我和我的祖国.jpg',
        url: '<%=theme.root_url%>/music/我和我的祖国.mp3'
      }
    ]
  });

  //实现切换音频时，根据音频的封面图片自适应主题色
	var  colorThief = new ColorThief();
	  var setTheme = (index) => {
		if (!ap.list.audios[index].theme) {
		  colorThief.getColorAsync(ap.list.audios[index].cover, function(color) {
			ap.theme(`rgb(${color[0]}, ${color[1]}, ${color[2]})`, index);
		  });
		}
	  };
	  setTheme(ap.list.index);
	  if(ap)
	  ap.on('listswitch', (data) => {
		setTheme(data.index);
	  });
</script>
<% } %>